.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: var(--spacing-m);
}

.cards > ul > li {
  background-color: var(--card-background-color);
  border: 1px solid var(--card-border-color);
  border-radius: var(--border-radius-l);
  overflow: hidden;
  transition: border-color var(--transition-normal);
}

.cards > ul > li:hover {
  border-color: var(--accent-color);
}

.cards .cards-card-body {
  padding: var(--spacing-m);
}

.cards .cards-card-body h3,
.cards .cards-card-body h4 {
  margin-top: 0;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (width >= 900px) {
  .cards > ul {
    gap: var(--spacing-l);
  }
}
