.columns > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.columns img {
  width: 100%;
  border-radius: var(--border-radius-m);
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: var(--spacing-l);
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
